body {
  margin: 0%;
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr 10fr 1fr;
  grid-template-areas: 
  "navbar"
  "filter"
  "main"
  "footer";
  height: 100vh;
  /*width: 100vw;*/
}

.navbar {
  grid-area: navbar;
  background-color: lightskyblue;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em
}

.filter {
  grid-area: filter;
  background-color: crimson;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;    
}

.select {
  border-radius: 1em;
  padding-left: 6em;
  padding-right: 6em
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.auto-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid lightgray 1px;
}

img {
  width: 250px;
}

.auto-card button {
  background-color: lightskyblue;
  border-radius: 1em;
  padding-left: 4em;
  padding-right: 4em;
  border: none;
}

/*.next-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}*/

.footer {
  grid-area: footer;
  background-color: lightskyblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}


@media (min-width: 576px) {

  .grid-container {
      display: grid;
      grid-template-columns: 15% 1fr;
      grid-template-rows: 10% 80% 10%;
      grid-template-areas: 
      "menu filter"
      "menu main"
      "footer main";
  }

  .filter {
      grid-area: filter;
      background-color: crimson;
  }

  .filter span {
      margin: 0.5em;
  }

  .menu { 
      grid-area: menu;
      background-color: lightskyblue;
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-content: flex-start;
  }

  .car-log {
      margin: 1em;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 1em;
  }

  .car-log strong {
      padding-left: 1em;
    }
 
  .categories strong {
     margin: 2em;
  }
/*
  .categories ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
  }*/

  .menu li {
      list-style: none;
  }

  .select {
      border-radius: 1em;
      padding-left: 20em;
      padding-right: 20em;
      padding-top: 0.3em;
      padding-bottom: 0.3em;
  }

  .main {
      grid-area: main;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      row-gap: 2em;
  }

  .next-page {
      /*display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;*/
  }
  

  .footer {
      grid-area: footer;
      background-color: lightskyblue;
  }

  .navbar {
      display: none;
  }
}

@media (max-width: 575px) {

  .menu {
      display: none;
  }

  .hid-car {
      display: none;
  }
}